<!DOCTYPE html>
<html>
<head style = "text-align:center">
  <title>Conference</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <h1 style="text-align: center">veterinary Conference</h1>
    <% if session[:user_id]%>
  	<h3><li>logging: (<%= User.find(session[:user_id]).name%>)   <%= link_to "Log out", logout_path%></li> </h3> 
  	<%else%>
  	<%= link_to "Sign in", login_path%>
  <%end%>
</head>
<body style="text-align: 'center'">

<%= yield %>

</body>
</html>
